<h1>Відновлення паролю</h1>

<p>Щоб відновити пароль перейдіть по наступному посиланню:</p>

<%= link_to "Відновити пароль", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Це посилання стане недійсним через 2 години.</p>

<p>
Якщо ви не запитували відновлення паролю, будь ласка проігноруйте це повідомлення.
</p>